.body, .dateandtime, .title{
  width:80%;
  margin:10px auto;
}
.body{
  text-indent: 1em;
}
.spacer{
  height:50px;
  width:100%;
}
.article_doc{
  width:800px;
  height:100%;
  outline:0;
  border:0;
}
