.fusor_cont{
  width:80%;
  margin:2% auto;
}
.fusor_cont p{
  margin:2% 5%;
}
.fusor_cont h1{
  text-align: center;
}
@media screen and (max-width:1000px){
  .fusor_cont{
    width:100% !important;
  }
  .img_div img{
    width:100% !important;
  }
}
@media screen and (max-width:600px){
  .imgcontfusor{
    width:100% !important;
  }
}
.imgcontfusor{
  width:55%;
  margin:0px;
  padding:0px;
  float:right;

}
.fusor_cont .img_div{
  display: inline-block;
  width:40%;
  margin:1% 2%;
  position:relative;
  max-height:60%;
}
.fusor_cont .img_div p{
  text-align: center;
}
.fusor_cont .img_div img{
  width:80%;
  display:block;
  margin:0 auto;
  max-height: 60%;
}
.heightmod img{
  max-height:300px !important;
  width:auto !important;
}
.vidcont{
  float:right;
  margin: 0 10% 10% 0;
  max-width:40%;
}
.vidcont video{
  float:left;
}
