body{
  margin:0;
  /*background-image:url(../images/background1.png);*/
}
p, pre, span, a, h1, h2, h3, h4, h5, h6, li, td, pre, abbr, input, button, label, textarea{
  font-family: Gadugi, Sylfaen, Segoe UI, Verdana, serif;
  font-weight:lighter;
  margin:0 inherit;
}
.menuwrapper{
  width:100%;
  background-color:red;
}
.menutop{
  padding:30px 0px 10px 0;
  background-color: #222;
  width:100%;
  min-height:80px;
  box-shadow:#000 0 1px 2px 2px;
}
.menubottom{
/*  background-image: url(/JDFusion/images/menu_bg.jpg);
  background-size: 100% 50%;
  background-repeat: no-repeat;*/
  background-color:#532971;
  box-shadow:#421860 0 1px 2px 2px;
}
.navbar2{
  display: flex;
  flex-flow:row nowrap;
  width:80%;
  justify-content: space-around;
  margin:0 auto;
}
.navbar2 h3{
  color:#EEE;
  text-align:center;
}
@media screen and (max-width:1000px){
  .navbar2{
    width:100%;
  }
}
@media screen and (max-width:600px){
  .navbar2{
    flex-direction: column;
  }
  .item{
    border-top:1px solid #222;
    width:80% !important;
    margin:0px auto !important;
    padding:12px !important;
  }
  .item:first-child{
    border:0;
  }
}
.item{
  flex: 1;
  margin:0 auto;
  width:20%;
}
.item:hover h3{
  color:#FFF;
}
.menuwrapper p,.menuwrapper h1,.menuwrapper td, .footer p{

  color:#FFF;
  text-align:center;
}
.footer{
  position:fixed;
  bottom:0;
  margin:0 !important;
  background-color:#222;
  width:100%;
  padding:2px 0;
  z-index: 2;
  max-height:80px;
}
.footer p{
  margin:0 auto !important;
  font-size:1em;
}
.footer p img{
  height:30px;
  margin:0 0 0 10px;
  padding:0px;
  border-radius:100%;
  vertical-align: middle;
}
.link{
  display:inline-block;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  text-decoration: none;
}
wrapper{
  margin-bottom: 20px !important;
}
.spacer{
  height:50px;
  width:100%;
}
.subtitle{
  color: #FFF;
  text-align: center;
}
.pagetitle_h1{
  text-align:center;
}
img{
  transition: ease-in 0.1s;
}
img:hover{
  transform:scale(1.02);
}
.title_menu{
  font-size:2.5em;
  margin: 1% auto;
  text-decoration: none;
  color:#FFF;
}
.title_menu a{
  text-decoration: none;
  color:#FFF;
}
.title_menu:hover{
  cursor: pointer;
}
