.wrapper{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
.article{
  width:80%;
  margin:0 auto;
  background-color:#EEE;
  padding:2%;
  border-bottom: 1px solid #000;
}
.wrapper > p, .wrapper > h1{
  text-align:center;
  margin:1% auto;
}
.writeup{
  overflow: hidden;
  text-overflow: ellipsis;
}
